<div class="container m-lg-3">
    <h1>Resultado de la búsqueda: <small>{{ busqueda }}</small></h1>
    <hr>

    <div *ngIf="!encontrado" class="row animated fadeIn fast">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <h3>No se encontraron resultados con la búsqueda: {{ this.busqueda }}</h3>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <app-heroe-tarjeta [heroe]='heroe' [index]='heroe.idx' *ngFor="let heroe of heroes;"></app-heroe-tarjeta>
    </div>
</div>